body{
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
}

body.modal-open{
  overflow: hidden;
}

p{
  margin: 10px 0;
}
a{
  text-decoration: none;
}

.m-bottom70{
  margin-bottom: 70px;
}

.m-bottom30{
  margin-bottom: 30px;
}

figure{
  margin: 0;
}

#root{
  display: flex;
  flex: 1 0 100%;
}

#root > div{
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
}

#root > div > * {
  width: 100%;
  display: flex;
  justify-content: center;
}

#root > div > main {
  flex: 1 0 auto;
  margin-top: 70px;
}